
.main {
	max-width: 600px;
	max-height: 100%;
	font: "Century Gothic", Futura, sans-serif;
	color: bisque;
	border: solid 2px black;
	/*margin: 0 auto;*/
	background: radial-gradient(100% 215.42% at 0% 0%, #5b483a 0%, #262425 100%);

}

h1 {
	text-align: center;
}

textarea {
	margin: 4px 40px 20px 40px;
	border-radius: 4px;
}

label {
	margin-left: 20px;
	font-size: 14px;
	font-weight: 700;
}
.single {
	display: flex;
	flex-direction: column;
}

.multi {
	display: flex;
	flex-direction: column;
}
.btns {
	display: flex;
	flex-direction: column;
	margin: 4px 40px 20px 40px;
	border: solid 2px bisque;
	border-radius: 4px;
	
}
.btns > button {
	width: 100px;
	margin: 0 auto;
	background-color: lightblue;
	border: solid 2px black;
	border-radius: 4px;
	margin-top: 10px;
}
.btns>button:last-child {
	margin-bottom: 10px;
}